@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap");

/* Clash grotesk */
@font-face {
 font-family: ClashGrotesk-Bold;
 src: url(../fonts/clashGrotesk_complete/OTF/ClashGrotesk-Bold.otf);
}

@font-face {
 font-family: ClashGrotesk-Extralight;
 src: url(../fonts/clashGrotesk_complete/OTF/ClashGrotesk-Extralight.otf);
}

@font-face {
 font-family: ClashGrotesk-Light;
 src: url(../fonts/clashGrotesk_complete/OTF/ClashGrotesk-Light.otf);
}

@font-face {
 font-family: ClashGrotesk-Regular;
 src: url(../fonts/clashGrotesk_complete/OTF/ClashGrotesk-Light.otf);
}

@font-face {
 font-family: ClashGrotesk-Medium;
 src: url(../fonts/clashGrotesk_complete/OTF/ClashGrotesk-Medium.otf);
}

@font-face {
 font-family: ClashGrotesk-Semibold;
 src: url(../fonts/clashGrotesk_complete/OTF/ClashGrotesk-Semibold.otf);
}

@font-face {
 font-family: ClashGrotesk-Variable;
 src: url(../fonts/clashGrotesk_complete/TTF/ClashGrotesk-Variable.ttf);
}

/* Tarjan */
@font-face {
 font-family: TrajanPro;
 src: url(../fonts/trajan/TrajanPro.ttf);
}

@font-face {
 font-family: TrajanPro-Bold;
 src: url(../fonts/trajan/TrajanPro-Bold.otf);
}

@font-face {
 font-family: TrajanPro-Regular;
 src: url(../fonts/trajan/TrajanPro-Regular.ttf);
}

:root {
 font-size: 62.5%;
}

html {
 scroll-behavior: smooth;
}

html,
body {
 font-size: 100%;
 overflow-x: hidden;
 font-family: ClashGrotesk-Regular;
 color: #3a3526;
 background: #e0ebed;
}

body a {
 transition: 0.6s all ease;
 -webkit-transition: 0.5s all ease;
 -moz-transition: 0.5s all ease;
 -o-transition: 0.5s all ease;
 -ms-transition: 0.5s all ease;
 text-decoration: none;
 font-size: 1.6rem;
}

body img {
 transition: 0.6s all ease;
 -webkit-transition: 0.5s all ease;
 -moz-transition: 0.5s all ease;
 -o-transition: 0.5s all ease;
 -ms-transition: 0.5s all ease;
 text-decoration: none;
}

a:not([href]):not([tabindex]) {
 color: #fff;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
 color: #fff;
 cursor: pointer;
 user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin: 0;
 transition: 0.6s all ease;
}

.bannerContent h1 {
 color: #254e60;
 font-size: 40px;
 max-width: 540px;
 text-align: left;
 margin: 0;
 margin-bottom: 20px;
 font-weight: 400;
 font-family: ClashGrotesk-Medium;
 line-height: 1.1;
}

h3 {
 color: #254e60;
 font-size: 32px;
 font-style: normal;
 letter-spacing: 0;
 padding-left: 0;
 margin-bottom: 30px;
 font-weight: 400;
 font-family: ClashGrotesk-Medium;
 line-height: 1.1;
}

body p {
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 1px;
 text-align: left;
 font-family: ClashGrotesk-Regular;
 margin-bottom: 15px;
 color: #254e60;
}

.bannerContent p {
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 1px;
 text-align: left;
 color: #75612a;
 margin-bottom: 20px;
}

.digital-btn {
 padding: 13px 20px;
 border: none;
 transition: all 0.8s !important;
 max-width: 230px;
 text-align: center;
 height: 40px;
 border-radius: 12px;
 background: #abc8ce;
 color: #254e60;
 font-size: 14px;
 line-height: normal;
 display: flex;
 align-items: center;
 justify-content: center;
 text-transform: capitalize;
 cursor: pointer;
 letter-spacing: 1px;
 font-family: ClashGrotesk-Medium;
}

.digital-btn:hover {
 filter: brightness(85%);
 /*background: #254e60;
 color: #f2efe5; */
}

header {
 position: absolute;
 width: 100%;
 top: 0;
 left: 0;
 right: 0;
 z-index: 999;
 padding: 0px 0px;
 border-bottom: 1px solid #b6bab9;
}
.sticky {
 top: 0;
 transition: all 0.6s;
 overflow: visible;
 height: auto;
 position: fixed;
 box-shadow: 0px 0px 30px #00000026;
 border: none;
 background: #abc8ce;
}
.navbar {
 justify-content: space-between;
 padding: 20px 0px;
}
.logo-web {
 height: 5rem;
}
.logo-web img {
 width: 100%;
 height: 100%;
 object-fit: contain;
 margin-left: 0;
 max-width: 248px;
}

.right-head button {
 width: 45px;
 height: 45px;
 border: 0;
 border-radius: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 background: #e0ebed;
}

.main-banner {
 width: 100%;
 padding: 150px 0 60px 0;
}
.main-banner .image-box {
 max-width: 600px;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}
.main-banner .image-box img {
 width: 100%;
 height: auto;
 max-width: 400px;
}
.main-banner .bannerContent {
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: baseline;
 justify-content: center;
}

.key-trends {
 width: 100%;
}

.key-trends .inner {
 border-top: 1px solid #b1b2b6;
 padding: 60px 0;
}

.key-trends .image-box {
 width: 100%;
 padding-right: 50px;
}
.key-trends .image-box img {
 width: 100%;
 height: auto;
 border-radius: 40px;
}

.list {
 list-style: none;
 padding-left: 15px;
}
.list li {
 position: relative;
 font-size: 14px;
 font-weight: 400;
 line-height: 22px;
 letter-spacing: 1px;
 text-align: left;
 font-family: ClashGrotesk-Regular;
 color: #254e60;
}

.list li::before {
 position: absolute;
 left: -15px;
 top: 7px;
 content: "";
 width: 6px;
 height: 6px;
 background: #254e60;
 border-radius: 100%;
}
.media-mentions {
 margin: 60px 0;
}
.media-mentions .inner {
 background: #abc8ce;
 border-radius: 40px;
 padding: 60px;
}
.media-mentions .inner ul {
 padding: 0;
 margin: 0;
 list-style: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 15px;
}
.media-mentions .inner ul li img {
 max-width: 120px;
}

.key-highlight {
 background: #abc8ce;
 padding: 60px 0;
}
.key-highlight .key-card {
 background: #dfedf0;
 min-height: 180px;
 padding: 30px;
 border-radius: 30px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 15px 0;
}

.key-highlight .key-card span {
 width: 100%;
 font-size: 18px;
 line-height: 22px;
 color: #75612a;
 margin-bottom: 15px;
 font-family: ClashGrotesk-Medium;
}
.key-highlight .key-card p {
 font-size: 18px;
 line-height: 25px;
}

.analyst-note {
 width: 100%;
 padding: 60px 0 0;
}
.analyst-note .inner {
 border-bottom: 1px solid #b1b2b6;
 padding-bottom: 60px;
}

.inside-report {
 width: 100%;
 padding: 60px 0;
}
.inside-report ul {
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}
.inside-report ul li {
 width: 33%;
 border-bottom: 1px solid #254e60;
}
.inside-report ul li .text-box {
 width: 100%;
 display: flex;
 gap: 15px;
 align-items: center;
 height: 100%;
 padding: 20px 10px 20px 0;
 max-width: 300px;
}
.inside-report ul li .text-box .icon {
 width: 30px;
 flex-shrink: 0;
}
.inside-report ul li .text-box .icon img {
 width: 100%;
 height: auto;
}
.inside-report ul li .text-box h5 {
 color: #254e60;
 font-size: 16px;
 font-style: normal;
 margin-bottom: 0;
 font-family: ClashGrotesk-Medium;
 line-height: 1.1;
}

.inside-report ul li:last-child, .inside-report ul li.broken_group {
    border-bottom: 0;
}

.explore-key {
 width: 100%;
 padding: 60px 0;
}

.explore-key ul {
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 list-style: none;
}
.explore-key ul li {
 width: 33%;
}
.explore-key ul li .text-box .dropdown-header{
 width: 100%;
 display: flex;
 gap: 15px;
 align-items: center;
 height: 100%;
 padding: 15px 15px 15px 0;
 max-width: 300px;
}
.explore-key ul li .text-box .icon {
 width: 30px;
}
.explore-key ul li .text-box .icon img {
 width: 30px;
 height: auto;
}
.explore-key ul li .text-box h5 {
 color: #254e60;
 font-size: 16px;
 font-style: normal;
 margin-bottom: 0;
 font-family: ClashGrotesk-Medium;
 line-height: 1.1;
}


.explore-key .dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 16px;
  background: #f9f9f9;
  width: 100%;
}
.explore-key .dropdown-content ul{ display:flex; flex-direction:column; }
.explore-key .dropdown-content ul li{font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 1px;
text-align: left;
font-family: ClashGrotesk-Regular;
margin-bottom:5px;
color: #254e60;
width: 100%
}


/*
.dropdown.active {
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
*/


.explore-key .dropdown-header {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      cursor: pointer;
      font-weight: 600;
      color: #003344;
    }

.explore-key .dropdown-header .arrow {
      transition: transform 0.3s ease;
    }

.explore-key .dropdown.active .arrow {
      transform: rotate(180deg);
    }

.explore-key .dropdown-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease, padding 0.3s ease;
      padding: 0 16px;
      background: #abc8ce; border-radius: 5px;
    }
.explore-key .dropdown.active .dropdown-content {
      max-height: 200px; /* adjust depending on content */
      padding: 12px 16px;
    }


.want-explore {
 margin: 40px 0 60px 0;
}
.want-explore .inner {
 background: #abc8ce;
 border-radius: 40px;
 padding: 60px;
}
.want-explore span {
 font-size: 20px;
 line-height: 26px;
 color: #254e60;
 margin-bottom: 10px;
 font-family: ClashGrotesk-Medium;
}
.want-explore h3 {
 margin: 0;
}
.explore {
 background: #254e60;
 color: #f2efe5;
}

.report-form {
 background: #dfecf0;
 padding: 40px;
 border-radius: 12px;
}

.report-form .modal-header {
 text-align: center;
}
.report-form .modal-header h5 {
 color: #254e60;
 font-size: 30px;
 font-style: normal;
 margin-bottom: 0;
 font-family: ClashGrotesk-Medium;
 line-height: 1.1;
 text-align: center;
 width: 100%;
}

.report-form .modal-header .close {
 position: absolute;
 top: -10px;
 right: -10px;
 padding: 0;
 width: 25px;
 height: 25px;
 background: #254e60;
 align-items: center;
 justify-content: center;
 display: flex;
 margin: 0;
 opacity: 1;
 border-radius: 100%;
 opacity: 0.8;
}

.report-form .modal-header .close span {
 font-size: 20px;
 text-shadow: none;
 color: #f2efe5;
}
.cancel-btn {
 border: 1px solid #254e60;
 padding: 8px 15px;
 border-radius: 8px;
 color: #254e60;
 font-size: 14px;
 line-height: 1.1;
 font-family: ClashGrotesk-Medium;
 cursor: pointer;
 letter-spacing: 1px;
}

.download-btn {
 border: 1px solid #254e60;
 padding: 8px 15px;
 border-radius: 8px;
 color: #f2efe5;
 background: #254e60;
 font-size: 14px;
 line-height: 1.1;
 font-family: ClashGrotesk-Medium;
 cursor: pointer;
 letter-spacing: 1px;
}

.report-form .form-group .form-control {
 border-radius: 6px;
 width: 100%;
 padding: 10px;
 border: 1px solid #d9dadd;
 height: 40px;
 font-size: 14px;
 line-height: 1.1;
}
.report-form .form-group #message {
 border-radius: 6px;
 width: 100%;
 padding: 10px;
 border: 1px solid #d9dadd;
 height: 100px;
 font-size: 14px;
 line-height: 1.1;
 resize: none;
}


section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}


footer{background: #abc8ce; padding:20px 0;}
footer p{margin: 0;}
footer .social-links {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

footer .social-icon {
  width: 30px;
  height: 30px;
  background: #f2f2f2;
  color: #1e1e1e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05); flex-shrink: 0;
}
footer .social-icon:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

footer .facebook:hover {
  background-color: #1877f2;
  color: #fff;
}

footer .twitter:hover {
  background-color: #000;
  color: #fff;
}

footer .linkedin:hover {
  background-color: #0a66c2;
  color: #fff;
}

footer .instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff;
}

footer .google:hover {
  background-color: #DB4437;
  color: #fff;
}

footer .whatsapp:hover {
  background-color: #4dc85a;
  color: #fff;
}

.media-mentions .inner ul.testimonial-slider .slick-slide img {
    max-width: 100%;
}
